//@theme "/usr/share/rofi/themes/onedark.rasi"
//@theme "/usr/share/rofi/themes/onedark.rasi"
//@theme "/usr/share/rofi/themes/onedark.rasi"
//@theme "/usr/share/rofi/themes/flamingo.rasi"
//@theme "/usr/share/rofi/themes/nord.rasi"
@theme "/usr/share/rofi/themes/onedark.rasi"
